.preview {
  width: 100%;
  height: auto;
  border: none;
}

.forms {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 620px;
}

.text-form, .photo-form, .link-form,
.audio-form, .video-form {
  color: #444;
}

.text-form > input {
  width: 500px;
  height: 45px;
  line-height: 45px;
  padding: 20px;
  font-size: 36px;
  font-weight: lighter;
  color: #444;
}

.text-form > textarea, .photo-form > textarea,
.link-form > textarea, .audio-form > textarea,
.video-form > textarea {
  background: rgb(244,244,244);
  width: 500px;
  padding: 20px;
  height: 200px;
  color: #444;
  resize: none;
}

.form-icons {
  float: right;
  width: 540px;
  border-radius: 3px;
  background: #fff;
  color: #696969;
  font-size: 15px;
}

.form-icons > li {
  float: left;
  padding: 0 15px;
  border-right: solid 1px #ccc;
}

.form-icons > li:last-child {
  float: left;
  padding: 0 15px;
  border: none;
}

.form-controls {
  padding: 15px 20px;
}

.form-button {
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  padding: 5px 7px;

}

.post-button {
  float: right;
  border-radius: 2px;
  background: #529ecc;
}

.close-button {
  float: left;
  background: #9da6af;
}

.upload-inputs {
  font-size: 14px;
}

.url-input {
  padding: 20px;
  float: left;
  line-height: 24px
}

.file-input {
  float: right;
  padding: 20px;

}
