.preview {
  margin: 0 auto;
  height: 405px;
  border: none;
  display: block;
}

.video-preview {
  width: 540px;
  height: 303px;
}

.audio-preview {
  padding-top: 15px;
  width: 100%;
}

.forms {
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 620px;
}

.text-form, .photo-form, .link-form,
.audio-form, .video-form {
  color: #444;
}

.tag-input, .link-url-input {
  width: 500px;
  padding: 15px 20px;
  font-weight: lighter;
  color: #444;
}

.text-title {
  width: 500px;
  padding: 20px;
  font-weight: lighter;
  color: #444;
  line-height: 45px;
  font-size: 36px;
}

.text-form > textarea, .link-form > textarea {
  background: rgb(244,244,244);
  width: 500px;
  padding: 20px;
  height: 200px;
  color: #444;
  resize: none;
}

.photo-form > textarea, .video-form > textarea,
.audio-form > textarea {
  background: rgb(244,244,244);
  width: 500px;
  padding: 20px;
  height: 60px;
  color: #444;
  resize: none;
}

.form-icons {
  float: right;
  width: 540px;
  border-radius: 3px;
  background: #fff;
  color: #696969;
  font-size: 15px;
}

.form-icons > li {
  float: left;
  padding: 0 15px;
  border-right: solid 1px #ccc;
}

.form-icons > li:last-child {
  float: left;
  padding: 0 15px;
  border: none;
}

.form-controls {
  padding: 0 20px 15px 20px;
}

.form-button {
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  padding: 5px 7px;
}

.post-button {
  float: right;
  border-radius: 2px;
  background: #529ecc;
}

.close-button {
  float: left;
  background: #9da6af;
}

.upload-inputs {
  font-size: 14px;
}

.url-input {
  box-sizing: border-box;
  float: left;
  line-height: 24px;
  padding: 15px 20px;
  width: 90%;
}

.file-input {
  background: blue;
  box-sizing: border-box;
  float: right;
  line-height: 24px;
  padding: 15px 20px;
  width: 10%;
}

.file-input > input {
  display: block;
  width: 100%;
  opacity: 0;
}
