// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-feed {
  width: 620px;
  margin: 0 auto;
}

.post-container {
  margin-bottom: 20px;
}

.post-feed-item {
  float: right;
  background: white;
  color: #444;
  width: 540px;
  border-radius: 3px;
}

.post-feed-item-header {
  padding: 15px 20px;
  font-size: 13px;
}

.post-feed-item-header > a {
  float: left;
  color: #b2b2b2;
  font-weight: 500;
}

.post-feed-item-header > a:hover {
  float: left;
  color: #808080;
}

.post-header-follow {
  float: right;
  color: #529ecc;
  cursor: pointer;
}

.post-header-follow:hover {
  color: #5280cc;
}

.post-feed-item-content {
}

.post-feed-item-footer {
  padding: 15px 20px;
}

.like-button {
  float: right;
  cursor: pointer;
}

.photo-post, .audio-post, .video-post {
  width: 100%;
  height: auto;
}

.post-body {
  padding: 15px 20px 0 20px;
  color: #444;
  font-size: 14px;
}

.text-post-title{
  padding: 5px 20px 0 20px;
  font-size: 36px;
}

.photo-post {
  padding-top: 5px;
}

.link-post {
  padding: 5px 20px 0 20px;
  font-size: 24px;
  word-wrap: break-word;
}

.audio-post {
  padding-top: 5px;
  height: 25px;
}

.video-post {
  padding-top: 5px;
}

.post-feed-tags {
  padding: 10px 20px 0 20px;
  color: #b2b2b2;
}

.post-feed-tags > li {
  display: inline;
  padding-right: 5px;
}

.post-feed-tags > li:hover {
  color: #808080;
}
