// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-feed {
  width: 620px;
}

.post-container {
  margin-bottom: 20px;

}

.post-feed-item {
  float: right;
  background: white;
  color: #444;
  width: 540px;
  border-radius: 3px;
}

.photo-post, .audio-post, .video-post {
  width: 540px;
}
