// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, header, h1, h2, input, button, ul, li, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

body {
  background-color: rgb(54, 70, 93);
  font-family: sans-serif;
  font-size: 12px;
  color: white;
}

.splash {
  background: image-url('background-kmy') no-repeat center center fixed;
  background-size: cover;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}

.greeting {
  float: left;
  margin-top: 15px;
  margin-left: 25px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 16px;
}

.error-list {
  margin-bottom: 10px;
}

.error-list > li {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}
