// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 3px;
}
