<!DOCTYPE html>
<html>
<head>
  <title>postr.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon"
      href="postr.ico">
      <link rel="icon"
      type="image/png"
      href="assets/postr.png" />
</head>
<body>

<%= yield %>

</body>
</html>
